<p>您刚刚申请重置您的密码，请点击下面的链接前往密码重置页面：

<p><a target="_blank" href="http://localhost:3000/password_resets/<%= @code %>">
  http://localhost:3000/password_resets/<%= @code %>
</a></p>

<p>如果此操作不是您申请的，请忽略本邮件。</p>
